<h1> Wikiz </h1>



<div class="col-md-8">
  <div class='sort'>
    <div class='sort'>

      <!-- reads link_to <arbitrary name>, <route_path>(params: {<hash key>: <value goes to controller>}), class: <bootstrap default classes>    -->
      <%= link_to 'default/newest', wikis_path(params: {sort: 'created_at', direction: 'desc'}) ,class:'btn-default btn-xs' %>
      <%= link_to 'A-Z', wikis_path(params: {sort: 'title', direction: 'asc'}) ,class: 'btn-default btn-xs' %>
      <%= link_to 'Z-A', wikis_path(params: {sort: 'title', direction: 'desc'}) ,class:'btn-default btn-xs' %>
      <%= link_to 'oldest', wikis_path(params: {sort: 'created_at', direction: 'asc'}) ,class:'btn-default btn-xs' %>

  </div>
  </div>
    <%= render @wikis %>
</div>

<div class="col-md-4">
  <%= link_to "New Wiki", new_wiki_path(params: {user: current_user}), class: 'btn btn-success' %>
</div>
