<h1> Wikiz </h1>

<!-- saving for a future feature
<%= button_to Wiki.reorder('ordered_by_title') %>
<%= link_to Wiki.unscoped { Wiki.ordered_by_reverse_created_at } %>
-->


<div class="col-md-8">
    <% @wikis.each do |page| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to page.title, page %>
            <small> <%=  index_markdown(page.body) %> </small>
          </h4>
        </div>
      </div>
    <% end %>
</div>

<div class="col-md-4">
  <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
</div>
